.info {font:13px Arial; font-weight: bold;}
.data {background-color:#b3b3b3; border:1px solid #898989; width:40%;}
.data tr td {background-color:#eeeeee; font:12px Arial; width:35%;}
.bar1 {background-color:#cccccc; background-image: url('../images/uploadbar_1.gif'); background-repeat: repeat-x; position:relative; text-align:left; height:20px; width: 400px; border:none;}
.bar2 {background-color:#666666; background-image: url('../images/uploadbar_2.gif'); background-repeat: repeat-x; position:relative; text-align:left; height:20px; width:0%;}