      <tr>
       <td>
       <img src="{$app_name}/images/image_bottomcurve.gif" />
      <div style="padding-top:5px;text-align:right">
         copyright kate-jones 2008
      </div>
       </td>
      </tr> 
     </table></td>
   </tr>
  </table>
  {if $includeSpryCSS}
  {literal}
  <script type="text/javascript">
   var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"{/literal}{$app_name}{literal}/SpryAssets/SpryMenuBarDownHover.gif", imgRight:"{/literal}{$app_name}{literal}/SpryAssets/SpryMenuBarRightHover.gif"});
  </script>{/literal}
  {/if}
  {if $includeProfileSpry}
  <script type="text/javascript">
  <!--
   var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
   {if $boolTrans > 0}
    {foreach from=$transactions item=transValue key=transKey name=myTransaction}
    var CollapsiblePanel{$smarty.foreach.myTransaction.index} = new Spry.Widget.CollapsiblePanel("CollapsiblePanel{$smarty.foreach.myTransaction.index}");
    {/foreach}
   {/if}
   //var CollapsiblePanel2 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel2");
  //-->
  </script>
  {/if}
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-3165158-1";
urchinTracker();
</script>
 </body>
</html>
