<HTML>
<HEAD>
<TITLE>{$site_name}</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">

</HEAD>
<FRAMESET rows="76,*" border="0" framespacing="0" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
        <FRAME border="0" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" src="{$baseurl}/siteadmin/framehead.php" resizeable="no" scrolling="no" frameborder="no" name="header">
        <FRAMESET border="0" framespacing="4" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" frameborder="1" bordercolor="#CCCCCC" cols="170,*">
                <FRAME border="0" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" src="{$baseurl}/siteadmin/leftwebsite.php?active={$active}" scrolling="no" frameborder="0" name="menu">
                <FRAME border="0" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" src="{$baseurl}/siteadmin/{$defaulthome}" scrolling="auto" frameborder="0" name="body">
        </FRAMESET>
</FRAMESET>
<NOFRAMES>
                <body bgcolor="#FFFFFF">Your browser must support frames to view this program.</body></NOFRAMES></HTML>


