<HTML>
<HEAD>
<TITLE>{$site_name}</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<LINK href="{$baseurl}/css/admin.css" type=text/css rel=stylesheet>

</HEAD>
<BODY>
	{include file="err_msg.tpl"}
	<TABLE CELLSPACING=0 cellpadding="3"  WIDTH=100% BORDER=0>
		<TR>
			<TD>
				<H3>Miscellaneous Settings</H3>
				<BR>
				<HR WIDTH=100% COLOR=#000000>
			</TD>

		</TR>
	</TABLE>
<br>
	<form action='miscellaneous.php' method='POST'>
		<TABLE WIDTH=400 align=center BORDER=0>
			<TR>
				<TD WIDTH=200>
					Video rating by user:
				</TD>
				<TD >
					<SELECT NAME="selUserVote">
					<OPTION selected>{$video_rating}</OPTION>
					<OPTION>Once</OPTION>
					<OPTION>Unlimited</OPTION>
					</SELECT>
				</TD>
			</TR>
			<TR>
				<TD WIDTH=200>
					User poll:
				</TD>
				<TD >
					<SELECT NAME="selUser_poll">
					<OPTION selected>{$user_poll}</OPTION>
					<OPTION>Once</OPTION>
					<OPTION>Unlimited</OPTION>
					</SELECT>
				</TD>
			</TR>
			<TR>
				<TD></TD><TD>
				<BR>
					<INPUT TYPE="submit" NAME="submit" VALUE="Save">
				</TD>
			</TR>
		</TABLE>
	</form>
</BODY>
</HEAD>
</HTML>
