body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        background-color: #FFFFFF;
        color: #333333;
/*
        margin: 0px;
        padding: 0px;
*/
}

a:link, a:visited, a:active {
        color: #003366;
}

td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}

.small {
        font-size: 10px;
        }

.label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #333333;
}

.title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #006600;
}

.title_login {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #FFFFFF;
}

a.title:link {font-family: Arial, Helvetica, sans-serif; color: #003366; font-size: 12px; font-weight: bold;}
a.title:active {font-family: Arial, Helvetica, sans-serif; color: #003366; font-size: 12px; font-weight: bold;}
a.title:visited {font-family: Arial, Helvetica, sans-serif; color: #003366; font-size: 12px; font-weight: bold;}
a.title:hover {font-family: Arial, Helvetica, sans-serif; color: #003366; font-size: 12px; font-weight: bolder;}

.table_top {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        color:#333333;
}

.bold {
        font-weight: bold;
}

.highlight {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #333333;
}

.nav {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
}

.nav_sub {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 400;
}

.footer {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #111111;
}

.success {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #333333;
}

.error {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #FF0000;
}

.confirmation {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        border: 3px solid #666666;
        padding: 5px;
        text-align: center;
}

.bodystyle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}

/* Modules */

.moduleEntrySelected {
        background-image: url('img/table_results_selected_bg.gif');
        background-repeat: repeat-x;
        background-color: #FFFFCC;
        background-position: left top;
        border-bottom: 1px dashed #999999;
        padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:0px
}

.moduleEntry {
        background-color: #DDD;
        background-image: url('img/table_results_bg.gif');
        background-position: left top;
        background-repeat: repeat-x;
        border-bottom: 1px dashed #999999;
        padding: 10px
}

.moduleEntryThumb {
        border: 5px solid #FFFFFF;
        margin-right: 10px;
}

.moduleEntryTitle {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2px;
        color: #333333;
}

.moduleEntryDescription {
        font-size: 12px;
        margin-bottom: 6px;
        color: #333;
        padding-right: 10px;

}

.moduleEntryTags {
        font-size: 12px;
        margin-bottom: 5px;
        color: #444;
}

.moduleEntryDetails {
        font-size: 11px;
        margin-bottom: 5px;
        color: #444;
}
.moduleEntrySpecifics {
        font-size: 11px;
        margin-bottom: 1px;
        color: #444;
}

.moduleTitle {
        font-size: 14px;
        font-weight: bold;
        margin: 0px 0px 5px 5px;
        color: #444;
}

.moduleTitleBar {
        width: 100%;
        background-color: #CCC;
        border-bottom: 1px dashed #999;
}

.moduleFeatured {
        background-color: #DDD;
        background-image: url('img/table_results_bg.gif');
        background-position: left top;
        background-repeat: repeat-x;
        border-bottom: 1px dashed #999999;
        padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:15px
}

.moduleFeaturedThumb {
        border: 5px solid #FFFFFF;
        margin: 5px;
}

.moduleFeaturedTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        margin-bottom: 3px;
        color: #0033CC;

}

.moduleFeaturedDetails {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: normal;
        color: #666666;
        margin-bottom: 3px;
}

.moduleFrameBarTitle {
        font-size: 12px;
        font-weight: bold;
        margin: 0px 5px 5px 5px;
        color: #444;
}

.moduleFrameEntrySelected {
        width: 270px;
        background-color: #FFFFCC;
        background-image: url('img/table_results_selected_bg.gif');
        background-repeat: repeat-x;
        background-position: left top;
        border-bottom: 1px dashed #999999;
        padding: 8px
}

.moduleFrameEntry {
        width: 270px;
        background-color: #DDD;
        background-image: url('img/table_results_bg.gif');
        background-position: left top;
        background-repeat: repeat-x;
        border-bottom: 1px dashed #999999;
        padding: 8px
}

.moduleFrameTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        margin-bottom: 3px;
        color: #006600;

}

.moduleFrameDetails {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: normal;
        margin-bottom: 5px;
        color: #666666;

}

.tableFavRemove {
        margin-right: 5px;
        margin-left: 10px;
        margin-top: 8px;
        margin-bottom: 5px;

}

.tableVideoStats {
        width: 100%;
        background-image: url('img/table_results_selected_bg.gif');
        background-repeat: repeat-x;
        background-color: #FFFFCC;
        background-position: left top;
        border: 1px dashed #CCCC66;
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 10px;
        margin-bottom: 10px
}

.tableSubTitle {
        padding: 0px 0px 5px 0px;

        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #CC6633;
}

.brownSubTitle {
        font-size: 13px;
        font-weight: bold;
        color: #CC6633;
}

.SubTitle {
        font-size: 14px;
        font-weight: bold;
        color: #CC6633;
}

.tableSubTitleInfo {
        font-size: 12px;
        padding: 3px;
        padding-left: 10px;
}



/* Form Elements */

.formTitle {
        padding: 4px;
        padding-left: 7px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        background-color: #E8FAE4;
        border-bottom: 1px dashed #3366CC;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
}

.formTable {
        width: 80%;
        padding: 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
}

.formIntro {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 15px;
        padding-left: 10px;
}

.formHighlight {
        background-image: url('img/table_results_selected_bg.gif');
        background-repeat: repeat-x;
        background-color: #FFFFCC;
        background-position: left top;
        border: 1px dashed #CCCC66;
        padding-bottom: 10px;
        margin-bottom: 5px; padding-left:7px; padding-right:7px; padding-top:7px
}

.formHighlightText {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #666633;
        margin-top: 5px;
        margin-left: 6px;
}

.formFieldInfo {
        font-size: 11px;
        color: #555555;
        margin-top: 5px;
        margin-bottom: 5px;
}



/* Page Elements */

.pageTitle {
        padding: 4px;
        padding-left: 7px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        background-color: #E9FAE4;
        border-bottom: 1px dashed #3366CC;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
}

.pageTable {
        padding: 0px 5px 0px 5px;
        margin-bottom: 20px;
}

.pageText {
        padding: 0px 5px 0px 5px;
}

.pageIntro {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 15px;
}

/* Mail Elements */

.mailMessageArea {
        background-color: #FFFFFF;
        border: 1px dashed #999999;
        padding: 7px;
        padding-bottom: 10px;
        margin-bottom: 15px;
}



/* Watch Elements */


.watchTitleBar {
        background-color: #CCCCCC;
        border-bottom: 1px dashed #999999;
}

.watchTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 6px;
        color: #333333;

}

.watchTable {
        background-color: #DDDDDD;
        background-image: url('img/table_results_bg.gif');
        background-repeat: repeat-x;
        background-position: left top;
        border-bottom: 1px dashed #999999;
        padding-bottom: 10px;
        text-align: center; padding-left:5px; padding-right:5px; padding-top:5px
}


.watchInfoArea {
        width: 395px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        background-color:#FFFFFF;
}

.watchDescription {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 10px 0px 5px 0px;
        color: #000;
        border-top: 1px dotted #CCCCCC;
}

.watchTags {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin: 5px 0px 10px 0px;
        color: #333333;
}

.watchAdded {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        margin-bottom: 10px;
        color: #333333;
}

.watchDetails {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #333333;
}

.commentsTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #333333;
        background-color: #EEEEEE;
        padding: 5px;
        padding-bottom: 6px;
        border-top: 1px dashed #999999;
        border-bottom: 1px dashed #999999;

}

.groupCommentsTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #333333;
        background-color: #EEEEEE;
        padding: 5px;
        padding-bottom: 6px;
}


.BoxedBorderTable {
        padding-left: 10px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
}
.vertLeftDashTable {
        border-left: 1px dashed #CCCCCC;
        background-image: url('img/long_grad_bg.jpg');
        background-repeat: repeat-x;
        background-repeat: repeat-y
}
.commentsEntry {
        font-size: 11px;
        background-color: #FFFFCC;
        padding: 10px;
        border-bottom: 1px dashed #999999;
}

.commentsThumb {
        border: 5px solid #FFFFFF;
        margin-right: 5px;
}

.profileLabel {
        font-size: 12px;
        font-weight: bold;
        color:8CC63F;
        margin: 10px 0px 2px 0px;
}

/* Code Elements */

.codeArea {
        background-color: #FFFFFF;
        border: 1px dashed #999999;
        padding: 7px;
        margin-bottom: 15px;
}

.apiLabel {
        background-color: #E5ECF9;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
}

.standoutLabel {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
}
.brightLabel {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
}

#set_of_links {
        position:relative;
        padding:0px;
        border:none;
        background:#ffffff;
        margin-bottom:20px
}
#set_of_links a {
        display:inline;
        padding:2px 9px 2px 9px;
        text-decoration:none;
        color: #000000;
        background:#FFFFAA
}
#set_of_links a:hover {
        background:#E1EAF0;
        text-decoration:none
}

#set_of_links a span {
        display:none
}
#set_of_links a:hover span {
        display:inline;
        position:absolute;
        padding-top:30px;
        left:0px;
        background: #FFFFAA;
        padding:5px 15px 5px 0
}

.SubscriptionTables {
        border: none;
}

.SubscriptionTables td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1px;
        padding-right: 1px;
        text-align:center;
        border-bottom: 1px dashed #666666;
        color: #666666;
}

.SubscriptionVideos {
        background-color:#FFFFFF;
        text-align: center;
}

.SubscriptionVideos td {
        border-bottom: none;
}

.parentSection {
        background: #FFFFCC;
}

.parentSection td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding-top: 5px;
        padding-right: 2px;
        padding-bottom: 5px;
        margin-top: 1px;
}

.childrenSection {
        background: #FFFFFF;
        border-bottom: 1px dashed #CCCCCC;
}

.childrenSection td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding-top: 5px;
        padding-right: 2px;
        padding-bottom: 5px;
        margin-top: 1px;
}

.parentSection td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding-top: 5px;
        padding-right: 2px;
        padding-bottom: 5px;
        margin-top: 1px;
        border-bottom: 1px dashed #CCCCCC;
}
.commentButtons td {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px
}

.commentsSpecifics {
        text-align: center;
}

.userStats {
        padding-top: 5px;
}

.devIndent {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
}

.apiShadedBox {
        background-color: #E5ECF9;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.apiDef {
        margin-left: 25px;
}

.apiHeader {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #AA0000;
}


/* msolo remix */
.roundedTable {
margin: 0px auto 1em auto;
}

.sunkenTitle {
        font-size: 14px;
        font-weight: bold;
        margin: 0px 0px 5px 5px;
}

.sunkenTitleBar {
        width: 100%;
        border-bottom: 1px dashed #999;
}

.sunkenContent {
        background-color: #ddd;
        background-image: url('img/table_results_bg.gif');
        background-position: left top;
        background-repeat: repeat-x;
        padding: 10px
}


.videobarthumbnail_block
{
        float: left;
        width: 125px;
        padding: 5px;
}
img.videobarthumbnail_gray
{
        border: 3px solid #FFFFFF;
}
img.videobarthumbnail_white
{
        border: 3px solid #DDD;
}

.videotitlebarHeading
{
        float: left;
        font-size: 13px;
        color: #6D6D6D
        padding-left: 10px;
        padding-right: 10px;
}
.videotitlebarComment
{
        float: left;
        font-size: 10px;
        color: #999999;
}
.videotitleBarLinkBlock {
        width: 173px;
        float: right;
}
.videotitlebarLink
{
        horizontal-align: right;
        width: 150px;
}
img.videotitlebarLinkIcon
{
        horizontal-align: right;
        vertical-align: bottom;
        border: 0px;
        width: 23px;
        height: 14px;
}



hr {
        /* the border */
        border-left:0px none; border-right:0px none; border-bottom:0px none; border-top:1px dashed #999; height: 1px
}

img.rating {
        border: 0px;
        padding: 0px;
        margin: 0px;
        vertical-align: middle;
}

span.rating {
        color:#666666;
        font-size:smaller;
}

.tag_list {
        margin: 1em 0px 0.5em 0px;
        font-weight: bold;
        color: #333;
}

.tag_list p {
        margin: 0px 0px 0.5em 0px;
        padding-left: 0.5em;
        font-weight: normal;
        color: #999;
}

.moduleEntry input {
        margin: 1em 0px 0px 0px;
}

.deep_gray_ragular {
        color: #0a0a0a;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
}
.blue_regular {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #7DB335;
}
.white_bold {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #FFFFFF;
}
.bold_blue {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #000066; font-weight: bold; }
.normal_gray {
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        color: #575757;
}
.normal_blue {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
		margin-bottom: 10px;
        /* color: #000066; */
}
.white_regular {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #FFFFFF;
}
.bold_blue_large {font-size: 18px; color: #000066; font-family: Arial, Helvetica, sans-serif;}
.navigation_bold {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #003366;
        font-weight: bold;
}
.bold_gray {font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #676767; font-weight: bold; }

a:link {
        color:#333333;
        text-decoration: none;

}
a:visited {
        color:#5C5C5C;
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
        color: #000066;       
}
a:active {
        text-decoration: none;
        color: #000066;
}

.tablerow1{
        background: #eeeeee;
}

.input_back_orange{
			 font-size: 14px;
		font-weight:bold;
		 background:#CCFF99;
		 background-position: left top;
		 COLOR: black;
		 WIDTH: 330px;
}
.input_btn{
		 font-size: 12px;
		 background:#FFFFFF;
		 COLOR: #00CC33;
  	     padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px
}
.select_back_orange{
	  background-color: #CCFF99;
        background-position: left top;
        border-bottom: 1px dashed #999999;
}

/* Added by RMS 2007.07.20 */

a.headlink:link {text-decoration: underline; color: #EEEEEE;}
a.headlink:visited {text-decoration: underline; color: #EEEEEE;}
a.headlink:hover {text-decoration: underline; color: #FFFFFF;}
a.headlink:active {text-decoration: underline; color: #EEEEEE;}

table.headlink:link {text-decoration: underline; color: #EEEEEE;}
table.headlink:visited {text-decoration: underline; color: #EEEEEE;}
table.headlink:hover {text-decoration: underline; color: #FFFFFF;}
table.headlink:active {text-decoration: underline; color: #EEEEEE;}

.headersearch {
	height: 18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.nowplayingtitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
}
