<TABLE cellSpacing=0 cellPadding=0 align=center border=0>
<TBODY>
<TR>
        <TD><A href="{$baseurl}/groups_home.php?urlkey={$smarty.request.urlkey}">Group Home</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>

        <TD><A href="{$baseurl}/add_video.php?urlkey={$smarty.request.urlkey}&gid={$smarty.request.gid}">My Videos</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="{$baseurl}/add_favour.php?urlkey={$smarty.request.urlkey}&gid={$smarty.request.gid}">My Favorites</A></TD>
</TR>
</TBODY>
</TABLE><BR>
