
<TR>
<td height="31" align="center" background="images/nv_1_bg.jpg" width=780><span class="normal_blue">
        <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY><TR>
        <TD style="FONT-SIZE: 10px">&nbsp;</TD>
        <TD><A href="{$baseurl}/friends.php">My Friends</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="{$baseurl}/fvideos.php">My Friends' Videos</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="{$baseurl}/ffavour.php">My Friends' Favorites</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="{$baseurl}/invite_friends.php">Invite More</A></TD>
        <TD style="FONT-SIZE: 10px">&nbsp;</TD>
        </TR></TBODY>
        </TABLE></span>
</TD>
</TR>

</table></td></tr>


