
<table>
<TR>
<td height="31" align="center" background="images/nv_1_bg.jpg" width=780><span class="normal_blue">
        <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
        <TD style="FONT-SIZE: 10px">&nbsp;</TD>
        <TD class="normal_blue" style="FONT-WEIGHT: normal"><A href="{$baseurl}/groups.php">Browse Groups</A></TD>
        <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD class="normal_blue"><A href="{$baseurl}/mygroup.php">My Groups</A></TD>
        <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD class="normal_blue"><A href="{$baseurl}/create_group.php">Create Group</A></TD>
        <TD style="FONT-SIZE: 10px">&nbsp;</TD>
        </TR>
        </TBODY>
        </TABLE> </span>
</TD>
</TR>

