<tr>

       <td height="31" align="center" background="images/nv_1_bg.jpg" class="normal_blue"><A href="{$baseurl}/my_video.php">My Videos</a> &nbsp;&nbsp;|&nbsp;&nbsp;
       <A href="{$baseurl}/my_favour.php">My Favorites</a>&nbsp;&nbsp; |&nbsp;&nbsp;
       <A href="{$baseurl}/my_playlist.php">My Playlist</a>&nbsp;&nbsp; |&nbsp;&nbsp;
       <A href="{$baseurl}/mygroup.php">My Groups</a>&nbsp;&nbsp; |&nbsp;&nbsp;
       <A href="{$baseurl}/my_profile.php">My Profile</a>&nbsp;&nbsp; |&nbsp;&nbsp;
	   <A href="{$baseurl}/members.php">Members</a></td>

</tr>
 </table></td>
</tr>



