
<table>
<TR>
<td height="31" align="center" background="images/nv_1_bg.jpg" width=780><span class="normal_blue">
        <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
        <TD style="FONT-SIZE: 10px">&nbsp;</TD>
        <TD style="FONT-WEIGHT: normal"><A href="{$baseurl}/inbox.php">Inbox</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="{$baseurl}/outbox.php">Outbox</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="{$baseurl}/compose.php">Compose</A></TD>
        <TD style="FONT-SIZE: 10px">&nbsp;</TD>
        </TR>
        </TBODY>
        </TABLE> </span>
</TD>
</TR>
</table>

