<tr>

       <td height="31" align="center" background="images/nv_1_bg.jpg" class="normal_blue">
	       <A href="{$baseurl}/upload_music.php">Upload</a> &nbsp;&nbsp;|&nbsp;&nbsp;
	       <A href="{$baseurl}/audio.php">Listen</a>&nbsp;&nbsp; |&nbsp;&nbsp;
	       <A href="{$baseurl}/channels.php?flag=audio_channels.tpl">Channels</a>&nbsp;&nbsp; 
       </td>

</tr>
 </table></td>
</tr>



