

<tr>
<td>

<TABLE cellSpacing=0 cellPadding=0 align=center border=0>
<TBODY>
<TR>
        <TD><A href="{$baseurl}/my_profile.php">Profile Info</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="http://www.youtube.com/groups_videos?name=sdfsdfsdfs">Email Preferences</A></TD>
        <TD style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
        <TD><A href="http://www.youtube.com/groups_videos?name=sdfsdfsdfs">Developer Options</A></TD>
</TR>
</TBODY>
</TABLE>
</td>
</tr>
<BR>
