<TR>
<td height="31" align="center" background="images/nv_1_bg.jpg" width=780>
<span class="normal_blue">
                <TABLE cellSpacing=0 cellPadding=0 border=0>
                <TBODY>
                <TR class="normal_blue">
                <TD style="FONT-SIZE: 10px">&nbsp;</TD>
                <TD class="normal_blue" style="FONT-WEIGHT: normal"><A href="{$baseurl}/video.php?category=mr&viewtype={$smarty.request.viewtype}">Most Recent</A></TD>

                <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
                <TD class="normal_blue"><A href="{$baseurl}/video.php?category=mv&viewtype={$smarty.request.viewtype}">Most Viewed</A></TD>

                <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
                <TD class="normal_blue"><A href="{$baseurl}/video.php?category=md&viewtype={$smarty.request.viewtype}">Most Discussed</A></TD>

                <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
                <TD class="normal_blue"><A href="{$baseurl}/video.php?category=tf&viewtype={$smarty.request.viewtype}">Top Favorites</A></TD>

                <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
                <TD class="normal_blue"><A href="{$baseurl}/video.php?category=tr&viewtype={$smarty.request.viewtype}">Top Rated</A></TD>

                <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
                <TD class="normal_blue"><A href="{$baseurl}/video.php?category=rf&viewtype={$smarty.request.viewtype}">Recently Featured</A></TD>

                <TD class="normal_blue" style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">|</TD>
                <TD class="normal_blue"><A href="{$baseurl}/video.php?category=rd&viewtype={$smarty.request.viewtype}">Random</A></TD>
                <TD style="FONT-SIZE: 10px">&nbsp;</TD>
                </TR>
                </TBODY>
                </TABLE>
</span>
</TD>
</tr>

