Hello {$username},

Your payment is received successfully. Your payment status is:

<table>
<tr><td>Package:</td><td><b>{$pack_name}</b></td></tr>
<tr><td>You have paid:</td><td><b>${$amount}</b></td></tr>
<tr><td>Subscribed for:</td><td><b>{$period}</b></td></tr>
<tr><td>Expire Date:</td><td><b>{$expired_time}</b></td></tr>
</table>

<a href='{$baseurl}/login.php'>Click here</a> to login the site.

Thank You,
{$admin_name}
<b>{$site_name}</b>

