
<tr>
<td>
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
                <td height="31" align="center" background="images/nv_1_bg.jpg">
                <A href="{$baseurl}/about.php">About Us</A> &nbsp;&nbsp; |&nbsp;&nbsp;
                <A href="{$baseurl}/help.php">Help</A>&nbsp;&nbsp; |&nbsp;&nbsp;
                <A href="{$baseurl}/dev.php">Advertise</A>&nbsp;&nbsp; |&nbsp;&nbsp;
                <A href="{$baseurl}/terms.php">Terms of Use</A>&nbsp;&nbsp; |&nbsp;&nbsp;
                <A href="{$baseurl}/privacy.php">Privacy Policy</A>&nbsp;&nbsp; |&nbsp;&nbsp;
				<A href="{$baseurl}/rss_feeds.php"><img src="{$baseurl}/images/rss.png" align="absmiddle" border="0" /></A>&nbsp;&nbsp; |&nbsp;&nbsp;
                <FONT COLOR=#CCCCCC>(<script src=http://fastonlineusers.com/online.php?d=www.probetv.com></script>) Online Visitors</FONT>
				</td>
        </tr>
        
        <tr>
                <td height="25" align="center"><span class="deep_gray_ragular">Copyright &copy; 2006-2007 <A href="{$baseurl}">{$site_name}</A>. All rights reserved.<br>Powered By <A href="http://www.clip-share.com">ClipShare</A></span></td>
        </tr>
        </table>
</td>
</tr>
</table>
</td>


</tr>
</table>
</td>
</tr>

</table>

</body>
</html>







