<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
<FORM name=searchForm action="{$baseurl}/search_result.php" method="get"><table width="50%"  border="0" align="center" cellpadding="0" cellspacing="5">
                                        <tr>
                                                <td width="100">&nbsp;</td>
                                                <td height="34" align="right">
                                                  
                                                          <INPUT size=30 tabIndex=1 maxLength=128 name="search_id" value="{$smarty.request.search_id}">
                                              </td>
                                                <td><SELECT name=search_typ class=select_back_white>
                                                        
                                                        {if $smarty.request.search_type eq "search_users"}<OPTION value=search_users selected>Search Users</OPTION>{else}<OPTION value=search_users>Search Users</OPTION>{/if}
                                                                                                    </SELECT>                                                </td>
                                        <td><input type=image src="/images/search_b.jpg"></td>
                                        </tr>
                                        </table>
</form>
</td>
  </tr>
</table>
<div style="background:url('../images/nv_2_bg.jpg') repeat-x; padding-top:5px; padding-bottom: 5px; margin-bottom: 4px;"><span class=white_bold>&nbsp;&nbsp;&nbsp;&nbsp;{$site_name} Members: Showing {$start_num}-{$end_num} of {$total} Total</span></div>

<div style="padding-right:10px"><a href="{$baseurl}/members.php">Show All Members</a> | <a href="{$baseurl}/members.php?type=avatar">Show Only  Members With Avatar</a> {if $smarty.session.USERNAME ne ""}|  <a href="{$baseurl}/my_profile.php">Update Your Profile</a>{/if}
<BR><BR>
</div>

<table width="100%" cellpadding="0" cellspacing="1" border="0">
                <tr>
                {if $smarty.request.viewtype eq "" or $smarty.request.viewtype eq "basic"}
                {section name=i loop=$answers}
                  {if $smarty.section.i.index mod 5 eq "0" and $smarty.section.i.index gt "0"}                    </tr>
                
                
                <tr>
                  <td align="middle" valign="top"><img src="../images/spacer.gif" width="1" height="15"></td>
                </tr>
                <tr>
                  <td align="middle" valign="top" style="font-weight:bold"> </td>
                </tr>
                
                <tr>
                  {/if}
                  <td width="20%" align="middle" valign="top"><img src="../images/spacer.gif" width="1" height="15"><br>
                    <a style="padding: 2px; border: 1px solid #DDDDDD;" href="{$baseurl}/uprofile.php?UID={$answers[i].UID}">
                    <img style="margin:3px;" id="video" src="/photo/{if $answers[i].photo eq ""}nopic.gif{else}{$answers[i].photo}{/if}" width="80" height="80" border="0" /></a><br />
                    <a href="{$baseurl}/uprofile.php?UID={$answers[i].UID}" style="bold"><SPAN style="font-size:12px; font-family: Arial,Tahoma; color: #8CC63E; weight: bold;"><B>{$answers[i].username}</B></span>'s Profile</a><br /><span style="font-size:10px; font-family: Verdana,Arial,Tahoma; color: #999999;"><B>{$answers[i].profile_viewed}</B> Profile Views<BR>
                    <B>{insert name=video_count assign=vdocount uid=$answers[i].UID} {$vdocount}</B> Videos</span><br />
                   
                    <br />                  </td>
                {/section}
                {/if}                </tr>
                <tr>
                  <td align="middle" valign="top"><img src="../images/spacer.gif" width="1" height="15"></td>
                </tr>
</table>

      <div style="margin:30px">Page:<BR>{$page_link}</div>