<tr><td height=250>

<DIV class=tableSubTitle>Tags</DIV>
<DIV style="FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 10px; COLOR: #666666">Latest Tags //</DIV>
<DIV style="MARGIN-BOTTOM: 20px">
{$recenttags}
</DIV>
<DIV style="FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 10px; COLOR: #666666">Most Popular Tags //</DIV>
{$populartags}
<DIV><BR><BR>
</DIV>

</td></tr>
