                  <tr>
                  <td height=5>&nbsp;</td></tr>
       <tr>
        <td height=300 valign='top'>
      <TABLE cellSpacing=0 cellPadding=0 width=300 align=center border=0>
        <TBODY>

         <tr><td width=5>&nbsp;</td></tr>
          <tr>


          <TD width=250 valign=top style="PADDING-top: 3px;">
            <TABLE cellSpacing=0 cellPadding=0 width=250 align=center  border=0 bordercolor=red>
              <TBODY>


                <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0 background="images/background_3-_bg.jpg">
                <FORM method="POST" action="{$baseurl}/recoverpass.php">

				<TBODY>
				<tr>
					<td height="14" colspan=2><table width="100%"  border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="3" height="20" background="images/nv_2_r.jpg">
						
					</td>
					<td background="images/nv_2_r.jpg" class="style3">
						<div align="left" class="white_bold">Forgot your password?</div>
					</td>
					<td width="4" height="20" background="images/nv_2_r.jpg">
						
					</td>
				 </tr>
				 </table>
			 
				 </td>
				</tr>
				<tr>
					<td width=8>&nbsp;</td>
				</tr>
				<TR>
				<TD align=right>
					<SPAN class=label>
						<NOBR>
							Your email
						</NOBR>
					:</SPAN>
				</TD>
				<TD style="PADDING-left: 5px;">
					<INPUT tabIndex=2 type=text name=email></TD></TR>
				<TR>
					<TD colspan=2 align="center"><br>
						<INPUT type=submit value="Submit" name=recover>
						<br><br>
					</TD>
				</TR>
                        </FORM>
                        
			</TBODY>
                        </TABLE>

                </TD>
                </TR>
              </TBODY>
	      </TABLE>
	      </TD>


