<table width="100%">
<tr>
        <td align="center"><p><strong>RSS Feeds
          </strong></p>
          <table id="AutoNumber1" bordercolor="#111111" cellspacing="0" cellpadding="0" width="80%" border="0">
            <tbody>
              <tr>
                <td width="100%"><p><strong>What RSS?</strong></p>
                  <p>Really Simple Syndication (RSS) is an XML based format used for content   distribution and syndication. Subscribing to RSS Feeds allows you to receive   custom, up-to-date information from your favorite online content sources without   having to regularly check the site for updates.</p>
                  <p><strong>How to Access RSS Feeds?</strong></p>
                  <p>Installing a news reader that displays RSS feeds from the websites you   specify allows you to keep up to date with all your favorite content by checking   the RSS feeds you have subscribed to and displaying new items from each feed.   Instead of downloading a dedicated news reader, you can also use a web-based   news reader.</p>
                  <p><strong>Getting RSS Feeds</strong></p>
                  <p>We offer several RSS feeds for categorized groups of videos (such as most   recent, top rated, most discussed, etc). To subscribe to categorized groups of   videos, simply click on the orange 'RSS' button next to each feed below.</p>
                  <table id="AutoNumber2" bordercolor="#111111" height="65" cellpadding="2" width="100%" border="0">
                      <tbody>
                        <tr>
                          <td width="100%" height="19">20 Newest Videos  - <a href="{$baseurl}/rss.php"><img src="{$baseurl}/images/rss.gif" align="absmiddle" border="0" /></a></td>
                        </tr>
                        <tr>
                          <td width="100%" height="19">20 Most Viewed Videos  - <a href="{$baseurl}/rss.php?type=views"><img src="{$baseurl}/images/rss.gif" align="absmiddle" border="0" /></a></td>
                        </tr>
                        <tr>
                          <td width="100%" height="19"><p>20 Most Commented Videos - <a href="{$baseurl}/rss.php?type=comments"><img src="{$baseurl}/images/rss.gif" align="absmiddle" border="0" /></a></p>
                          </td>
                        </tr>
                      </tbody>
                  </table></td>
              </tr>
            </tbody>
    </table></td>
</tr>
</table>
