
<tr>
                <td align="center" valign="top" width=760>
<table width="771"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                  <td height=5>&nbsp;</td></tr>
                  <tr><td width=771>



<table width=760 border=0>
<tr><td align=center style="PADDING-left: 14px">
<TABLE cellSpacing=0 cellPadding=0 width=746 align=center border=0>
<TBODY>
 <tr>
                              
                              <td height="1" bgcolor="#E1E3E4" colspan=3></td>
                            </tr>
                            
<TR vAlign=top>
                        <td width="1" bgcolor="#E1E3E4" ></td>
                           
                <TD  style="PADDING-bottom: 10px; border-left: 1px solid #EEEEEE; ; border-right: 1px solid #EEEEEE;" width=470 align=center>

                 {insert name=video_info assign=vinfo vid=$VID}

                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                    <th background="images/nv_2_bg.jpg" align=left width=283><span class="white_bold" >{$vinfo[0].title}</span></th>
                                    <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                  </tr>
                              </table>

               
                
                <!-- google_ad_section_end --></DIV><!-- google_ad_section_start(weight=ignore) -->



                <DIV style="PADDING-BOTTOM: 8px; TEXT-ALIGN: center">
                <DIV id=flashcontent>
                <DIV style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px">



<!--[if gte IE 6]><script language="javascript">document.write("<NOSCRIPT class=clickfix><OBJECT style=\"display:none\">"); </script> <!--<![endif]-->
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="450" height="370" id="/YouTube_video/youtube" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="csplayer.swf?xml=player.config.php&video={$vinfo[0].flvdoname}&key={$smarty.request.viewkey}" />
<param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />
<embed src="csplayer.swf?xml=player.config.php&video={$vinfo[0].flvdoname}&key={$smarty.request.viewkey}" quality="high" bgcolor="#ffffff" width="450" height="370" name="/YouTube_video/youtube" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
<!--[if gte IE 6]></OBJECT></NOSCRIPT><!--<![endif]-->
 
<script language="JScript" type="text/jscript" src="{$baseurl}/js/ClickFix.js"></script>

				<BR><BR><CENTER>
				<!-- Add To Social Bookmarks   -->
				<script language="JavaScript" type="text/javascript">
				var addtoLayout='';						// addtoLayout: 0=Horizonal 1 row, 1=Horizonal 2 rows, 2=Vertical with icons, 3=Vertical no icons
				var addtoMethod=1;						// addtoMethod: 0=direct link, 1=popup 
				var AddURL = document.location.href;	// could be set dynamically to your blog post's permalink
				var AddTitle = escape(document.title);	// same here, this could be set dymaically instead of the page's current title
				</script>
				<script language="JavaScript" src="modules/bookmarks/addto.js" type="text/javascript"></script>
								  
				<div class="addToContent">
				<div class="addTo2Row">
				<div class="addToHeader" onclick="addto(0)"> Add Video To Your Social Bookmarks</div>
				<div class="addToFloat">
				<span title="Add this page to Blink"  onclick="addto(1)"><img src="modules/bookmarks/AddTo_Blink.gif" width="16" height="16" border="0" /> Blink</span><br />
				<span title="Add this page to Delicious" onclick="addto(2)"><img src="modules/bookmarks/AddTo_Delicious.gif" width="16" height="16" border="0" /> Del.icio.us</span></div>
				<div class="addToFloat">
				<span title="Add this page to Digg" onclick="addto(3)"><img src="modules/bookmarks/AddTo_Digg.gif" width="16" height="16" border="0" /> Digg</span><br />
				<span title="Add this page to Furl" onclick="addto(4)"><img src="modules/bookmarks/AddTo_Furl.gif" width="16" height="16" border="0" /> Furl</span></div>
				<div class="addToFloat">
				<span title="Add this page to Google" onclick="addto(5)"><img src="modules/bookmarks/AddTo_Google.gif" width="16" height="16" border="0" /> Google</span><br />
				<span title="Add this page to Simpy" onclick="addto(6)"><img src="modules/bookmarks/AddTo_Simpy.gif" width="16" height="16" border="0" /> Simpy</span></div>
				<div class="addToFloat"><span title="Add this page to Spurl" onclick="addto(8)"><img src="modules/bookmarks/AddTo_Spurl.gif" width="16" height="16" border="0" /> Spurl</span><br />
				<span title="Add this page to Yahoo! MyWeb" onclick="addto(7)" ><img src="modules/bookmarks/AddTo_Yahoo.gif" width="16" height="16" border="0" /> Y! MyWeb</span><br /></div>
				</div>
				</div>
				</CENTER> 
				<!-- End Add To Social Bookmarks -->        

                </DIV></DIV></DIV>


                <DIV style="FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; TEXT-ALIGN: center">
                {if $smarty.session.UID eq ""}
                <A href="{$baseurl}/view_video.php?viewkey={$smarty.request.viewkey}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}&action=comment">
                {else}
                <A href="#postcomment">
                {/if}
                Post Comments</A>&nbsp;&nbsp;//&nbsp;&nbsp;

                <A href="{$baseurl}/view_video.php?viewkey={$smarty.request.viewkey}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}&action=addfavour">
                Add to Favorites</A> &nbsp;&nbsp;//&nbsp;&nbsp;

                <A href="#flagvideo">Flag This Video</A>
                </DIV>

 {if $isvideorated ne ""}
                <TABLE cellSpacing=0 cellPadding=0 width=450 align=center border=0>
                <TBODY>
                <TR>
                
                <TD style="PADDING-BOTTOM: 15px" style="PADDING-left: 10px; padding-right:10px">

<!--         # VORE PRECESS RESULT  -->

                        <DIV class=moduleEntryDetails ID='divVoteResult'>

                                        <!--         Showing vote -->
                                                
                                                <TABLE BORDER=0 ID='idVoteView'>
                                                <TR>    <TD>Average (</TD>
                                                        <TD>{$vinfo[0].ratedby}</TD>
                                                        <TD>votes)</TD>
                                                </TR>
                                                </TABLE>
                                        
                                        <DIV ID=idViewVoteResult>
                                
                                        {insert name=show_rate assign=rate rte=$vinfo[0].rate}
                                        {$rate}
                                        </DIV

                                        <DIV>
                                                <TABLE ID="tblViewResult">
                                                <TR>
                                                        <TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD>
                                                <TR>
                                                </TABLE>
                                        </DIV>
                                        

                        </DIV>
<!-- // VORE PRECESS RESULT END-->
                
                </TD>

                <TD style="PADDING-BOTTOM: 15px">

<!--# VOTE PROCESS                                                                -->
                        <DIV id=ratingDiv style="MARGIN-RIGHT: 5em; TEXT-ALIGN: center">               
                                {if $smarty.session.UID ne ""}

                                        
                                                
                                                <DIV class=moduleEntryDetails ID=voteProcess>
                                                        Rate this video.!
                                                        <BR>
                                                        <NOBR>
                                                                <IMG class=rating src="{$imgurl}/blank_star.gif" onClick="fxRate('{$smarty.request.viewkey}',2,'voteProcess','voteProcessthank','{$VID}')">
                                                                <IMG class=rating src="{$imgurl}/blank_star.gif" onClick="fxRate('{$smarty.request.viewkey}',4,'voteProcess','voteProcessthank','{$VID}')">
                                                                <IMG class=rating src="{$imgurl}/blank_star.gif" onClick="fxRate('{$smarty.request.viewkey}',6,'voteProcess','voteProcessthank','{$VID}')">
                                                                <IMG class=rating src="{$imgurl}/blank_star.gif" onClick="fxRate('{$smarty.request.viewkey}',8,'voteProcess','voteProcessthank','{$VID}')">
                                                                <IMG class=rating src="{$imgurl}/blank_star.gif" onClick="fxRate('{$smarty.request.viewkey}',10,'voteProcess','voteProcessthank','{$VID}')">
                                                        </NOBR>
                                                </DIV>
                                                
                                                <DIV ID=voteProcessthank style='display:none'>
                                                        Thanks for rating!
                                                </DIV>
                                        

                                {else}
                                        <SPAN id=ratingMessage>Please sign up<BR> and login to rate this video.!</SPAN><BR>
                                {/if}
                        </DIV>

<!-- // VOTE PROCESS end                                                                 -->


                </TD>

				<TD align="center" style="PADDING-BOTTOM: 15px; padding-right: 10px;">
				 {if $downloads eq 1}
				 {if $smarty.session.UID ne ""}
				 <A HREF="{$flvdourl}/{$vinfo[0].flvdoname}"><IMG SRC="images/download.gif" border="0"><BR>Download</A>
				 {else}
  				 <A HREF="{$baseurl}/login.php"><IMG SRC="images/download.gif" border="0"><BR>Download</A>
				 {/if}
				 {else}
				 {/if}
				</TD>
                
                </TR>
                </TBODY>
                </TABLE>
{/if}

<!-- google_ad_section_end -->

<TABLE cellSpacing=0 cellPadding=0 width=450 align=center border=0>
<TBODY>
<TR>
<TD style="PADDING-left: 10px; padding-right: 10px">
<DIV style="border: 1px dashed #CCCCCC; padding:10px; background: #FDFDFD">
        {$vinfo[0].description}</div>
        <DIV style="FONT-SIZE: 11px; PADDING-BOTTOM: 18px">

        Added on  {insert name=id_to_uploaddate assign=DID un=$VID} by {insert name=id_to_name assign=uname un=$UID}
        <A href="{$baseurl}/uprofile.php?UID={$UID}"><font color=#3399FF SIZE=3>{$uname}</FONT></A>
        
        </DIV>
</TD></TR></TBODY></TABLE>

                                
                <TABLE cellSpacing=0 cellPadding=0 width=450 align=center border=0><TBODY>
                <TR vAlign=top>

                <TD style="BORDER-RIGHT: #aaaaaa 1px dotted; PADDING-RIGHT: 10px" style="PADDING-left: 10px">
                                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                    <th background="images/nv_2_bg.jpg" align=left width=283><span class="white_bold" > Video Details //</span></th>
                                    <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                  </tr>
                              </table>
               

                <DIV style="FONT-SIZE: 11px; PADDING-BOTTOM: 10px; padding-top: 10px;">
                {assign var=viddur value=$vinfo[0].duration} 
{math equation="$viddur/60" format="%0.0f" assign=minutes} 
{math equation="$viddur - ($minutes * 60)" format="%0.0f" assign=seconds} 
{if $seconds < 0} 
{math equation="$minutes - 1" assign=minutes} 
{math equation="$seconds + 60" assign=seconds} 
{/if}            
<B>Runtime:</B> {$minutes}m{$seconds}s  | <B>Views:</B> {$vinfo[0].viewnumber} |
                {insert name=comment_count assign=commentcount vid=$vinfo[0].VID}
                <A href="#commentview"><B>Comments:</B></A>  {$commentcount}<BR><BR>
                <DIV style="PADDING-BOTTOM: 10px"><SPAN
                style="PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #CCFF99; "><B>Tags:</B></SPAN>&nbsp;
<!-- google_ad_section_start -->
                {insert name=video_keyword assign=keyword vid=$VID}
                {section name=j loop=$keyword}
                <A href="{$baseurl}/search_result.php?search_id={$keyword[j]}">{$keyword[j]}</A>&nbsp;
                {/section}
<!-- google_ad_section_end --></DIV>
                <DIV style="PADDING-BOTTOM: 10px"><SPAN
                style="PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #CCFF99;">
                <B>Channels:</B></SPAN>&nbsp;
<!-- google_ad_section_start -->
                {insert name=video_channel assign=channel vid=$VID}
                {section name=k loop=$channel}
                <A href="{$baseurl}/channel_detail.php?chid={$channel[k].CHID}">{$channel[k].name}</A>&nbsp;
                {/section}
<!-- google_ad_section_end --></DIV>
                <DIV style="FONT-SIZE: 11px; PADDING-BOTTOM: 10px"></DIV>
                </TD>

                <TD style="PADDING-LEFT: 10px; PADDING-RIGHT: 10px" width=180>
                
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                    <th background="images/nv_2_bg.jpg" align=left width=283><span class="white_bold" >User Details //</span></th>
                                    <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                  </tr>
                              </table>

               
                <DIV style="FONT-SIZE: 11px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px">
                {insert name=video_count assign=vdocount uid=$UID}
                <A href="{$baseurl}/uvideos.php?UID={$UID}"><B>Videos</B></A>: {$vdocount} |
                {insert name=favour_count assign=favcount uid=$UID}
                <A href="{$baseurl}/ufavour.php?UID={$UID}"><B>Favorites</B></A>: {$favcount} |
                {insert name=friends_count assign=friendcount uid=$UID}
                <A href="{$baseurl}/ufriends.php?UID={$UID}"><B>Friends</B></A>: {$friendcount}
                </DIV>
                <DIV style="FONT-SIZE: 11px; PADDING-BOTTOM: 10px">
                <SPAN style="PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #CCFF99;"><B>User Name:</B></SPAN>&nbsp;
                <A href="{$baseurl}/uprofile.php?UID={$UID}"><font color=#3399FF SIZE=3>{$uname}</FONT></A>
                </DIV>

                <DIV style="FONT-WEIGHT: bold; PADDING-BOTTOM: 10px">
                <A href="{$baseurl}/compose.php?receiver={$uname}">Send Me a Private Message!</A>
                </DIV>
                </TD>
                </TR>
                </TBODY>
                </TABLE><BR><!-- watchTable -->





            <TABLE style="PADDING-left: 10px; padding-right: 10px;" cellSpacing=0 cellPadding=0
            width=450 align=center border=0>
              <TBODY>
              <TR>
                <TD style="PADDING-left: 10px; padding-right: 10px;" width="450">

                        <FORM id=linkForm name=linkForm>
                        <TABLE style="PADDING-left: 10px; padding-right: 10px;" cellSpacing=0 cellPadding=0 width=450 border=0>
                        <TBODY>
                        <TR>
                        
                          <TD width="100%" colspan=2>
                                 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                    <th background="images/nv_2_bg.jpg" align=left width=283><span class="white_bold" >Share Details // </span></th>
                                    <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                  </tr>
                              </table>

                        
                       </TD></tr>
                       <tr><td colspan=2 height=5></td></tr>
                      <!-- google_ad_section_start(weight=ignore) -->
                        <TR>
                        <TD vAlign=top width=150>
                        <SPAN style="PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #CCFF99;"><B>Video
                        URL:</B></SPAN><FONT
                        style="COLOR: #000000">&nbsp;&nbsp;</FONT></TD>
                        <TD vAlign=top width=233>
                        
                        <TEXTAREA ROWS="2" COLS="33"  name=video_link onclick="javascript:document.linkForm.video_link.focus();document.linkForm.video_link.select();" readOnly>{$baseurl}/view_video.php?viewkey={$smarty.request.viewkey}</TEXTAREA>
                        
                        <DIV style="FONT-SIZE: 11px">(E-mail or link
                        it)<BR><BR></DIV></TD></TR>

                       {if $isvideoembabed eq "enabled"} 

                                <TR>
                                <TD vAlign=top width="168"><SPAN
                                style="PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #CCFF99;">
                                <B>Embeddable
                                Player:</B></SPAN></TD>
                                <TD vAlign=top>
                                <TEXTAREA  name=video_play ROWS="4" COLS="33"
                                onclick=javascript:document.linkForm.video_play.focus();document.linkForm.video_play.select();
                                readOnly>
<object type="application/x-shockwave-flash" width="320" height="260" wmode="transparent" data="{$baseurl}/flvplayer.swf?file={$flvdourl}/{$vinfo[0].flvdoname}&autostart=true&showfsbutton=true">
        <param name="movie" value="{$baseurl}/flvplayer.swf?file={$flvdourl}/{$vinfo[0].flvdoname}&autostart=true&showfsbutton=true" />
        <param name="wmode" value="transparent" />
		<param name="allowScriptAccess" value="sameDomain" />
<embed src="{$baseurl}/flvplayer.swf?file={$flvdourl}/{$vinfo[0].flvdoname}&autostart=true&showfsbutton=true" loop="false" width="320" height="260" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object></TEXTAREA>

                                <DIV style="FONT-SIZE: 11px">(Put this video on your
                                website. Works on Friendster, eBay, Blogger,
                                MySpace!)<BR><BR></DIV></TD></TR>
                        {/if}
                        
                        <!-- google_ad_section_end -->
                        </TBODY></TABLE>
                        </FORM></TD></TR></TBODY></TABLE><BR>



                        <A name=postcomment></A>

                        <DIV style="FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #444" style="PADDING-left: 10px">Comment on this video:</DIV>

                        {if $smarty.session.UID ne "" and $isvideocommented ne ""}
                                <DIV ID=divComments>
                                        <FORM name="Add_comment" method="post" action="{$baseurl}/view_video.php?viewkey={$smarty.request.viewkey}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}">
                                        <DIV id=div_main_comment style="PADDING-left: 10px">

                                        <textarea name=addcomment ID=txtComments rows=5 cols=30></textarea>
                                        <br>
                                                <input type="button" name="commentpost" value="Post Comment" onClick=fxSendComments('divComments','txtComments',{$smarty.session.UID},{$VID})>
                                        </DIV>
                                        </FORM>
                                </DIV >
                                <DIV ID=divComResult1 style='display:none'>
                                        <B><FONT COLOR=#339900>Your Comments has posted successfully.</FONT></B>
                                </DIV>
                                <DIV ID=divComResult2 style='display:none'>
                                        <B><FONT COLOR=#FF0033>Your already posted you comments.</FONT></B>
                                </DIV>
                        {/if}


                        <TABLE width=440><TBODY>
                        <TR><TD style="">

                        <TABLE class=commentsTitle width="100%"><TBODY><TR>
                        <TD style="PADDING-left: 10px">Comments ({$commentcount}): </TD>
                        </TR></TBODY></TABLE>
                        
                        </TD></TR>

                        <TR><TD style="PADDING-left: 10px">
                        <A name=commentview>
                        {insert name=comment_info assign=cominfo vid=$VID}
                        {section name=i loop=$cominfo}


<TABLE style="border-bottom: dotted 1px #CCCCCC;"width="100%" cellspacing="10" cellpadding="0" border="0">
<TR>
	<TD valign="top" width="17%"><a style="padding: 1px; border: 1px solid #CCCCCC;" href="{$baseurl}/uprofile.php?UID={$cominfo[i].UID}">
		{insert name=comment_info_user assign=comuser uid=$cominfo[i].UID}{section name=a loop=$comuser}
		<img style="margin:3px;" src="{$photourl}/{if $comuser[a].photo eq ""}nopic.gif{else}{$comuser[a].photo}{/if}" width="50" height="50" border="0">{/section}</a>
	</TD>
	<TD valign="top" width="99%" align="left">
         {insert name=id_to_name assign=uname un=$cominfo[i].UID}
         <SPAN style="font-size:11px; font-family: Arial,Tahoma; color: #999999">Posted by</span> <STRONG><A href="{$baseurl}/uprofile.php?UID={$cominfo[i].UID}"><SPAN style="font-size:12px; font-family: Arial,Tahoma; color: #8CC63E">{$uname}</SPAN></A></STRONG>
		 {insert name=time_range assign=stime field=addtime IDFR=COMID id=$cominfo[i].COMID tbl=comments}
         <SPAN style="font-size:10px; font-family: Verdana,Arial,Tahoma; color: #CCCCCC">({$stime})</SPAN>
		 <BR>
		  <DIV style="padding: 5px; border: 1px dashed #CCCCCC; background: #FDFDFD;">
		 <SPAN style="font-size: 21px; font-family: Serif; color: #CCCCCC"><i>"</i></SPAN>
			<SPAN style="font-size:10px; font-family: Verdana,Arial,Tahoma; color: #666666">{$cominfo[i].commen}</SPAN>
		 <SPAN style="font-size: 21px; font-family: Serif; color: #CCCCCC;"><i>"</i></SPAN></DIV>
		 <A href="compose.php?receiver={$uname}&subject=Re:{$cominfo[i].commen|truncate:180}"><SPAN style="font-size:10px; font-family: Verdana,Arial,Tahoma; color: #8CC63E">Reply to this</span></A>
			{if $delete eq "1"}
			<BR><BR>
			<form name="removeCommentForm"
			action="{$baseurl}/view_video.php?viewkey={$vinfo[0].vkey}" method="post">
			<input type="hidden" value="1" name="action_removecomment">
			<input type="hidden" value="{$VID}" name="VID"> 
			<input type="hidden" value="{$cominfo[i].COMID}" name="COMID">
			<input onclick="return confirm('Are you sure to delete this comment?');"
			type="submit" value="Remove Comment" name="remove_comment">
			</form>
			{/if}
	</TD>
</TR>
</TABLE>


{/section}

                        </TD></TR></TBODY></TABLE>

                        <A name=flagvideo></A>
                        <TABLE style="MARGIN-TOP: 10px" cellSpacing=0 cellPadding=0 width=378 align=center bgColor=#CCFF99 border=0>
                        <TBODY>
                        <TR>
                        <TD align=center style="PADDING-RIGHT: 5px;  PADDING-BOTTOM: 10px; PADDING-TOP: 5px; TEXT-ALIGN: center"
                        width=378 style="PADDING-left: 10px">
                        <DIV style="FONT-SIZE: 10px; PADDING-BOTTOM: 5px">Please help
                        keep this site <STRONG>FUN</STRONG>, <STRONG>CLEAN</STRONG>,
                        and <STRONG>REAL</STRONG>. </DIV>
                        <DIV style="FONT-SIZE: 12px">Flag this video:&nbsp; <A
                        href="{$baseurl}/view_video.php?viewkey={$smarty.request.viewkey}&flag=F">Feature
                        This!</A> &nbsp; <A
                        href="{$baseurl}/view_video.php?viewkey={$smarty.request.viewkey}&flag=I">Inappropriate</A>
                        </DIV>
                        </TD>
                        </TR>
                        </TBODY>
                        </TABLE>
</TD>
                           
                 
                   <td width="1" bgcolor="#E1E3E4"></td>
<td width=7>&nbsp;&nbsp;&nbsp;&nbsp;</td>  
                          
<TD width=270>
        <DIV style="PADDING-BOTTOM: 10px">
                        
        <TABLE cellSpacing=0 cellPadding=0 width=262 align=center border=0>
        <TBODY>
        <TR>
        

 <td width="1" bgcolor="#DDDDDD"></td>

        <TD style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; " width=260>

                <TABLE background="images/tpl_cell_bg_2.gif" cellSpacing=0 cellPadding=0 width=260 border=0 >
                <TBODY>
                <TR>
                <td width=260 colspan=3><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                    <th background="images/nv_2_bg.jpg" align=left><span class="white_bold" >&nbsp;Other Videos</span></th>
                                    <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                  </tr>
                              </table>
                </td>
                </tr>
                <tr>              

                
                <TD align=middle style="padding-left:5px;">
                {if $rowcount eq "$rowmincount"}
                <IMG style="BORDER-RIGHT: #ffffff 5px solid; BORDER-TOP: #ffffff 5px solid; BORDER-LEFT: #ffffff 5px solid; BORDER-BOTTOM: #ffffff 5px solid"
                height=45 src="{$imgurl}/no_prev.gif" width=60><BR>&lt; PREV
                {else}
                {if $link[0].vid ne "" and $link[0].key ne ""}
                <A href="{$baseurl}/view_video.php?viewkey={$link[0].key}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}">
                <IMG style="BORDER-RIGHT: #ffffff 5px solid; BORDER-TOP: #ffffff 5px solid; BORDER-LEFT: #ffffff 5px solid; BORDER-BOTTOM: #ffffff 5px solid"
                height=45 src="{$tmburl}/1_{$link[0].vid}.jpg" width=60>
                </A>
                <DIV style="FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-TOP: 3px">
                <A href="{$baseurl}/view_video.php?viewkey={$link[0].key}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}">&lt; PREV</A>
                </DIV>
                {/if}
                {/if}
                </TD>

                <TD align=middle style="padding-top:10px;">
                {insert name=adv_status assign=status adv_name='video_right_single'}
                {if $status eq "Active"}
                        {insert name=advertise adv_name='video_right_single'}
                {else}
                        {if $link[1].vid ne "" and $link[1].key ne ""}
                        <IMG style="BORDER-RIGHT: #ffffff 5px solid; BORDER-TOP: #ffffff 5px solid; BORDER-LEFT: #ffffff 5px solid; BORDER-BOTTOM: #ffffff 5px solid" height=60
                        src="{$tmburl}/1_{$link[1].vid}.jpg" width=80>
                        <DIV style="FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-TOP: 3px">NOW PLAYING</DIV>
                        {/if}
                {/if}
                </TD>

                <TD align=middle style="padding-left:5px;">
                {if $rowcount eq "$rowmaxcount"}
                <IMG style="BORDER-RIGHT: #ffffff 5px solid; BORDER-TOP: #ffffff 5px solid; BORDER-LEFT: #ffffff 5px solid; BORDER-BOTTOM: #ffffff 5px solid"
                height=45 src="{$imgurl}/no_next.gif" width=60><BR>NEXT &gt;
                {else}
                {if $link[2].vid ne "" and $link[2].key ne ""}
                <A href="{$baseurl}/view_video.php?viewkey={$link[2].key}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}">
                <IMG style="BORDER-RIGHT: #ffffff 5px solid; BORDER-TOP: #ffffff 5px solid; BORDER-LEFT: #ffffff 5px solid; BORDER-BOTTOM: #ffffff 5px solid" height=45
                src="{$tmburl}/1_{$link[2].vid}.jpg" width=60>
                </A>
                <DIV style="FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-TOP: 3px">
                <A href="{$baseurl}/view_video.php?viewkey={$link[2].key}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}">NEXT &gt;</A>
                </DIV>
                {/if}
                {/if}
                </TD>
                

                
        
                </TR>
                </TBODY>
                </TABLE>
                

        </TD>
        <td width="1" bgcolor="#DDDDDD"></td>
       </tr>
        <tr><td height="1" bgcolor="#DDDDDD" colspan=3></td></tr>
</TBODY>
</TABLE>
</DIV>
              

<TABLE cellSpacing=0 cellPadding=0 width=262 align=center bgColor=#cccccc border=0>
<TBODY>


<TR>
<TD width=262>

        {if $smarty.request.category eq ""}
        <table border=0 cellspacing=0 cellpadding=0>

               
                                                        <tr>
                              <td align="center">
                                                                <table width="262"  border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                  <th background="images/nv_2_bg.jpg"><div align="left">
                                      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td class="white_bold"> Related Video's {$items_per_page} of {$total}</td>
                                          <td width="80" class="white_regular"><A href="{$baseurl}/search_result.php?search_type=related&search_key={$smarty.request.viewkey}" target=_parent>
                See All Results</A></td>
                                          </tr>
                                      </table>
                                  </div></th>
                                  <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                </tr>
                              </table></td>
                            </tr>
                            </table>
                            </td>
                            </tr>
                            <tr>
                            <td>





                
                <DIV id=side_results
                style="OVERFLOW: auto; WIDTH: 262px; HEIGHT: 350px"
                onscroll=render_full_side(); name="side_results" align=center>

                {section name=i loop=$answers}
                {if $smarty.request.viewkey eq $answers[i].vkey}<DIV class=moduleFrameEntrySelected>{else}<DIV class=moduleFrameEntry>{/if}
                <TABLE cellSpacing=0 cellPadding=0 width=240 border=0>
                <TBODY>
                <TR vAlign=top>
                <TD width=90>
                <A class=bold href="{$baseurl}/view_video.php?viewkey={$answers[i].vkey}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}" target=_parent>
                <IMG class=moduleEntryThumb height=60 src="{$tmburl}/1_{$answers[i].VID}.jpg" width=80>
                </A>
                </TD>
                <TD>
                <DIV class=moduleFrameTitle>
                <A href="{$baseurl}/view_video.php?viewkey={$answers[i].vkey}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}" target=_parent>
                {$answers[i].title}</A></DIV>
                <DIV class=moduleFrameDetails>by
                {insert name=id_to_name assign=uname un=$answers[i].UID}
                <A href="{$baseurl}/uprofile.php?UID={$answers[i].UID}" target=_parent>{$uname}</A>
                </DIV>
                <DIV class=moduleFrameDetails>Runtime: {$answers[i].duration|string_format:"%.2f"}<BR>
                Views: {$answers[i].viewnumber}<BR>
                {insert name=comment_count assign=commentcount vid=$answers[i].VID}
                Comments: {$commentcount}
                </DIV>
                {if $smarty.request.viewkey eq $answers[i].vkey}
                <DIV style="PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 10px;
                PADDING-BOTTOM: 3px; COLOR: #cc6600; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffcc66">
                <NOBR>&lt;&lt;&lt;NOW PLAYING!</NOBR>
                </DIV>
                {/if}
                <DIV style="FONT-SIZE: 11px; MARGIN-RIGHT: 5px">
                <A href="{$baseurl}/search_result.php?search_type=related&search_key={$smarty.request.viewkey}" target=_parent>
                See All Results</A></DIV>
                </TD></TR></TBODY></TABLE>
                </DIV>
                {/section}

        {else}

                <DIV class=moduleTitleBar>
                <TABLE cellSpacing=0 cellPadding=0 width=262 border=0>
                <TBODY>
                <TR vAlign=top>
                <TD>
                
                <table border=0 cellspacing=0 cellpadding=0 width=262>

               
                                                        <tr>
                              <td align="center"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                  <th background="images/nv_2_bg.jpg"><div align="left">
                                      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td class="white_bold"> {insert name=tag_to_name assign=tagname tag=$smarty.request.category}
                {$tagname} {$start_num}-{$end_num} of {$total}
</td>
                                          <td width="80" class="white_regular"><A href="{$baseurl}/video.php?page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}" target=_parent>
                See All Results</A></td>
                                          </tr>
                                      </table>
                                  </div></th>
                                  <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                </tr>
                              </table></td>
                            </tr>
                            </table>
                
                
                </TD>
                </TR>
                </TBODY>
                </TABLE>
                </DIV>

                <DIV id=side_results
                style="OVERFLOW: auto; WIDTH: 262px; HEIGHT: 350px"
                onscroll=render_full_side(); name="side_results">

                {section name=i loop=$answers}
                {if $smarty.request.viewkey eq $answers[i].vkey}<DIV class=moduleFrameEntrySelected>{else}<DIV class=moduleFrameEntry>{/if}
                <TABLE cellSpacing=0 cellPadding=0 width=250 border=0>
                <TBODY>
                <tr><td height=8></td></tr>
                <TR vAlign=top>
                <TD width=90>
                <A class=bold href="{$baseurl}/view_video.php?viewkey={$answers[i].vkey}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}" target=_parent>
                <IMG class=moduleEntryThumb height=60 src="{$tmburl}/1_{$answers[i].VID}.jpg" width=80>
                </A>
                </TD>
                <TD>
                <DIV class=moduleFrameTitle>
                <A href="{$baseurl}/view_video.php?viewkey={$answers[i].vkey}&page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}" target=_parent>
                {$answers[i].title}</A></DIV>
                <DIV class=moduleFrameDetails>by
                {insert name=id_to_name assign=uname un=$answers[i].UID}
                <A href="{$baseurl}/uprofile.php?UID={$answers[i].UID}" target=_parent>{$uname}</A>
                </DIV>
                <DIV class=moduleFrameDetails>Runtime: {$answers[i].duration|string_format:"%.2f"}<BR>
                Views: {$answers[i].viewnumber}<BR>
                {insert name=comment_count assign=commentcount vid=$answers[i].VID}
                Comments: {$commentcount}
                </DIV>
                {if $smarty.request.viewkey eq $answers[i].vkey}
                <DIV style="PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 10px;
                PADDING-BOTTOM: 3px; COLOR: #cc6600; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffcc66">
                <NOBR>&lt;&lt;&lt;NOW PLAYING!</NOBR>
                </DIV>
                {/if}
                <DIV style="FONT-SIZE: 11px; MARGIN-RIGHT: 5px">
                <A href="{$baseurl}/video.php?page={$smarty.request.page}&viewtype={$smarty.request.viewtype}&category={$smarty.request.category}" target=_parent>
                See All Results</A></DIV>
                </TD></TR></TBODY></TABLE>
                </DIV>
                {/section}
                
        {/if}

</TD>
</TR>
</TBODY>
</TABLE>





                                        <BR><table width="262"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                  
                                    <td width="5" height="24" background="images/nv_2_l.jpg"><img src="images/nv_2_l.jpg" width="5" height="24" alt=""></td>
                                    <th background="images/nv_2_bg.jpg" align=left width=283><span class="white_bold" style=" PADDING-LEFT: 15px; MARGIN: 10px 0px 5px;" >Related Tags:</span></th>
                                    <td width="5" background="images/nv_2_r.jpg"><img src="images/nv_2_r.jpg" width="5" height="24" alt=""></td>
                                  </tr>
                              </table>

        <DIV style="text-align: justify; PADDING: 10px; BORDER: 1px dashed #CCCCCC; background: #FDFDFD;">
{$relatedtags}
        </DIV>
        <tr>
                              
                              <td height="1" bgcolor="#E1E3E4" colspan=3></td>
                            </tr>

            
</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></td></tr>
<tr><td width=771></td></tr>
</td>
                        </tr>


